@use 'sass:color';
@use '@material/theme/color-palette';
@use '@material/theme/index' as theme with (
  $primary: color-palette.$green-500, //100 for light, 700 for dark
  $secondary: color-palette.$lime-900,
  $surface: color-palette.$grey-50,
  $background: color-palette.$grey-50,
  $error: color-palette.$red-900
);
:root {
  --theme-background: #{theme.$background};
  --theme-error: #{theme.$error};
  --theme-primary: #{theme.$primary};
  --theme-on-error: #{theme.$on-error};
  --theme-on-primary: #{theme.$on-primary};
  --theme-on-secondary: #{theme.$on-secondary};
  --theme-on-surface: #{theme.$on-surface};
  --theme-secondary: #{theme.$secondary};
  --theme-surface: #{theme.$surface};
}

a:hover { color: theme.$lime-800 }
