@use '@material/typography/mdc-typography';
@import 'paper';

$font-mono: Roboto Mono, monospace;

//TODO wtf, there's no reset CSS? Those heading elements have HUGE margins by default!!!!
//TODO wtf, do we really need to do all this to have standard styling without having to class EVERYTHING??
body { @extend .mdc-typography }
h1 { @extend .mdc-typography--headline1 }
h2 { @extend .mdc-typography--headline2 }
h3 { @extend .mdc-typography--headline3 }
h4 { @extend .mdc-typography--headline4 }
h5 { @extend .mdc-typography--headline5 }
h6 { @extend .mdc-typography--headline6 }
p { @extend .mdc-typography--body1 }
p, h2, h3, h4, h5, h6 {
  &.subtitle { @extend .mdc-typography--subtitle1 }
  &.subsubtitle { @extend .mdc-typography--subtitle2 }
  &.overline { @extend .mdc-typography--overline }
}
small { @extend .mdc-typography--body2 }
legend, caption { @extend .mdc-typography--caption }

//region remove input[type=number] spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
//endregion

.mdc-form-field {
  margin: 0.5rem 0;
}

.mdc-data-table {
  &__cell {
    &[role=header] { font-weight: bold; }
    &--numeric { font-family: $font-mono; }
  }
  &--glass { background-color: rgba(255,255,255,0.5); }
}
