@use '@material/theme/color-palette';
@import 'breakpoints';
@import 'paper';
@import 'typography';

html, body {
  background-color: var(--theme-background);
  color: var(--theme-on-surface);
}
a { color: var(--theme-secondary); }

//region remove input[type=number] spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
//endregion

.mdc-form-field {
  margin: 0.25rem 0;
}

.mdc-tab {
  min-width: auto;
  padding: 0 12px;
}

.mdc-text-field {
  $margin: 0.375rem;
  &__input {
    margin-left: $margin;
    &[type=number] { font-family: var(--monospace) }
  }
  &__affix--suffix {
    margin-right: $margin;
    .mdc-icon-button { margin-right: -$margin }
  }
  &__affix--prefix {
    margin-left: $margin;
    + .mdc-text-field__input { margin-left: 0 }
  }
}

.mdc-data-table {
  &__cell {
    &[role=header] { font-weight: bold }
    &--numeric { font-family: var(--monospace) }
  }
  &--glass {
    background-color: rgba(255,255,255,0.5);
    @media (prefers-color-scheme: dark) {
      background-color: rgba(0,0,0,0.3);
    }
  }
}

.mdc-tooltip {
  &__surface { background-color: rgba(0,0,0,0.8) }
  a { color: color-palette.$lime-200 }
}
