@use 'sass:color';
@use '@material/theme/color-palette';
@use '@material/theme/index' as theme with (
  $primary: color-palette.$green-300,
  $secondary: color-palette.$lime-100,
  $surface: color.adjust(color-palette.$grey-900, $blue: +4), //this is the default, but... why +4 blue?
  $background: color-palette.$grey-900,
  $error: color-palette.$red-700
);

html, body {
  background-color: theme.$background;
  color: theme.$on-surface;
}

a {
  color: theme.$secondary;
  &:hover { color: theme.$lime-300; }
}
